@charset "UTF-8";
/* CSS Document */
.top_margin5 {
  margin-top: 5px;
}
.top_margin10 {
  margin-top: 10px;
}

.top_margin20 {
  margin-top: 20px;
}

.top_margin30 {
  margin-top: 30px;
}

.top_margin40 {
  margin-top: 40px;
}

.top_margin50 {
  margin-top: 50px;
}

.top_padding5 {
  padding-top: 5px;
}

.top_padding10 {
  padding-bottom: 10px;
}

.top_padding20 {
  padding-top: 20px;
}

.top_padding30 {
  padding-top: 30px;
}

.top_padding40 {
  padding-top: 40px;
}

.top_padding50 {
  padding-top: 50px;
}

.bottom_margin5 {
  margin-bottom: 5px;
}

.bottom_margin10 {
  margin-bottom: 10px;
}

.bottom_margin20 {
  margin-bottom: 20px;
}

.bottom_margin30 {
  margin-bottom: 30px;
}

.bottom_margin40 {
  margin-bottom: 40px;
}

.bottom_margin50 {
  margin-bottom: 50px;
}
.bottom_padding5 {
  padding-bottom: 5px;
}

.bottom_padding10 {
  padding-bottom: 10px;
}

.bottom_padding20 {
  padding-bottom: 20px;
}

.bottom_padding30 {
  padding-bottom: 30px;
}

.bottom_padding40 {
  padding-bottom: 40px;
}

.bottom_padding50 {
  padding-bottom: 50px;
}

.section_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.midashi {
  text-align: center;
  font-size: 24px;
}

.kaisetu_read {
  color: #575757;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
}

.greeting_name {
  text-align: right;
  font-size: 16px;
  margin-top: 0px;
}

.jigyou_title {
  background-color: #00AB8E;
  color: #FFFFFF;
  font-size: 21px;
  line-height: 2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0px;
}

.ph_shadow {
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.25);
}

.hero_about_us {
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../about_us/images/about_us_top.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  padding: 50px 0;
  background-size: cover;
  height: auto;
}

.text_white {
  color: rgba(255,255,255,1.00);
}

.hero_business {
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../business/images/business_top.jpg);
  -webkit-background-size: cover;
  padding: 50px 0;
  -moz-background-size: cover;
  background-size: cover;
  height: auto;
}

.komidashi {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: bold;
}

body > section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.kasou_title {
  padding-top: 30px;
  font-size: 21px;
  line-height: 1.5em;
  text-align: center;
}

.sub_title {
  font-size: 19px;
  line-height: 1.4em;
  text-align: center;
  padding-bottom: 30px;
}

.section_padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero_contact {
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../about_us/images/about_us_top.jpg);
  -webkit-background-size: cover;
  padding: 50px 0;
  -moz-background-size: cover;
  background-size: cover;
  height: auto;
}


@media (max-width:320px){
}

@media (max-width:375px) and (min-width:321px){
}

@media (max-width:414px) and (min-width:376px){
}

@media (max-width:568px) and (min-width:415px){
}

@media (max-width:667px) and (min-width:569px){
}

@media (max-width:684px) and (min-width:668px){
}

@media (max-width:736px) and (min-width:685px){
}

@media (max-width:768px) and (min-width:735px){
}

@media (max-width:1024px) and (min-width:769px){
}

@media (max-width:414px){
.sm_non {
  display: none;
}
}

@media (min-width:415px){

.pc_non {
  display: none;
}
}
